/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* #nav > ul > li > span, #nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  border: 0;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 0.35em;
  padding: 0.3em 1em 0.3em 1em;
  -moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
} */
/* 
@media (max-width: 500px) {
  .dropdown{
    positi
  }
} */
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  /* border: 2px solid rgb(36, 189, 250); */
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(215, 240, 248, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a li{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover li:hover{background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


@media (max-width: 766px) {
 .dropdown {
  display: block !important;
  /* background-color: pink; */
  position: relative !important;
 }

 .dropdown-content{
  color: black;
  padding : 20px !important;
  text-decoration: none;
  display: block !important;
  position: relative !important;
}
.dropdown-content a {
  /* background-color: blue; */
  margin:0 auto;
  padding:10px !important;
}
  }


.mypage_top {
  display: flex; 
  align-items: center; 
  margin: 50px;
}


.mypage_inform {
  width: 70%; 
  text-align: center;
  border: 2px solid #90e1f5; 
  border-radius: 10px;
  margin-left: 100px;
}


.mypage_bottom {
	display: flex;
}

.mypage_bottom_container {
  width: 33%;
}

.mypageTitle {
	margin: 5px;
	border: 2px solid #90e1f5; 
	border-radius: 10px;
	min-height: 250px;
	text-align: center;
  display: grid;
}


@media (max-width : 600px) {
  .mypage_top {
   margin: 0px !important;
  }
  .mypage_inform{
    margin-left: 0px;
    border: none;
  }
  
.mypage_bottom {
	display: block;
}
.mypage_bottom_container {
  width: 100%;
  height: auto;
}


 }